body {
  background-color: #1b1b1b;
  color: white;
}

#root{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-article {
  left:0;
  width: 20%;
}

.right-article {
  width: 80%;
  display: flex;

}

.position {
  flex-direction: row;
  justify-content:flex-end ;
  width: 100%;
}

.mt-10 {
  margin-top: 40px;
}

.red {
  color: #c71624;
}

.bg-red {
  background-color: #c71624;
}

.bg-red:hover {
  background-color: #f53949;
}

.input {
  background-color:#4d4d4d;
  width: 100%;
  padding: 20px;
  color: white;
}

.area {
  background-color:#4d4d4d;
  width: 100%;
  padding: 20px;
  margin-top: 24px;
  color: white;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 12px;
  color: white;
}